{% extends "purl-ap2_en.j2" %}

{% block summary %}
<p>
The application profile OSLO-PassengerTransportHubs demonstrates how terms from the related <a href="https://purl.eu/ns/mobility/passenger-transport-hubs">vocabulary</a> should be used to exchange data on Transport Hubs for passengers.
</p>

<p>
Due to the variety of transport offers and the corresponding transfer possibilities, transport hubs, where travelers can switch between transport modes, play an important role in achieving basic accessibility.
</p>

<p>
The model consists of two parts. The first part provides a general definition of a Transport Hub and describes its components, with particular attention to passenger transport. The second part focuses on the Traveler using Transport Hubs for his Journey or Route.
</p>

<p>
Below we focus on part one, for more info on part two we refer to the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit-trips-en-aanbod">application profile OSLO Mobility: Trips and Offerings</a>.
</p>

<p>
Transport Hubs consist of 1) Infrastructure Elements, 2) Transport Networks, 3) Mobility Services, and 4) Additional Services.
</p>

<p>
The class TransportHub is further specialized to Hoppinppoint, which is the Flemish version of a Transport Hub.
</p>

<p>
InfrastructureElements represent the physical aspect of a Transport Hub, it concerns objects such as Information columns (like the Hoppin column), Stopplaces, Parkings, Bicycle racks, Chargers etc. All of which are necessary for the available Transport networks and the services offered at the Transport Hubs. The Infrastructure Elements and their specializations are discribed in the vocabularies <a href="https://data.vlaanderen.be/doc/vocabularium/openbaardomein/infrastructuur">OSLO Public Domain - InfrastructureElements</a>, <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit/dienstregeling-en-planning/stopplaatsen/kandidaatstandaard/2022-03-17">OSLO Mobility - Timetables and Planning - Stopplaces</a> and out of <a href="https://www.mobivoc.org/">Open Mobility Vocabulary</a>.
</p>

<p>
The Transport Networks available at a Transport Hub are accessible via Transport Objects such as Transport Nodes (stops, stations... ) and Transport Connections between those nodes. Also Virtual Nodes (points located on a link between two Transport Nodes, e.g. the position of an unused shared step within a city or at the address of a Traveler) may be used. The class Transport Object and its subclasses are reused from the vocabulary of <a href="https://data.vlaanderen.be/ns/transportnetwerk">OSLO Transportnetwork</a>.
</p>

<p>
Mobility Services are available for consumption at the Transport Hub via the Infrastructure Elements and Transport Objects that are present. These can be scheduled services or shared steps, but just as well parking spaces or bicycle pumps. A Mobility Service can include other Mobility Services to describe services at different granularity levels (at a high level, the service "shared mobility in Flanders" and at a lower level, the services "shared cars in Antwerp" and "shared bikes in Ghent"). The Mobility Service and related classes come from the vocabulary <a href="https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod">OSLO-Mobility: Trips and Offerings</a>. A class ResourceReport was added to report e.g. on the number of shared bikes available at a certain location (e.g. a bike sharing dock).
</p>

<p>
Also at a Transport Hub, we also usually find all kinds of Additional Services, including services that save the Traveler additional trips such as mailboxes, bakeries, newpaper stores, etc.
</p>

<p>
Enumerations are basically described outside the application profile, hence the enumeration values shown in the diagram are illustrative.
</p>

{% endblock %}
